#upperContainer{
    border-bottom: solid black;
}

#upperContainer #logoContainer{
    /*alignment strategies:*/

    /*padding-left: 560px;*/

    margin: auto;
    width: 300px;

}

#middleContainer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.leftText,
.rightText {
    width:450px;
    margin-left:15px;
    margin-right: 15px;
    display: inline;
    color: blue;
    float: left;
}

#bottomContainer {
    clear: left;
    padding-top: 50px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}